body {
    background-color: antiquewhite;
}

img {
    display:block;
    opacity: 0.5;
    width: 1600px;
    height: 710px;
    margin: 0px;
}

#unitType {
    width: 450px;
    height: 30px;
    margin-left: 25px;
    text-align: center;
}

#input{
    width: 210px;
    height: 30px;
    margin-left: 25px;
    text-align: center;
}

#result {
    width: 210px;
    height: 30px;
    margin-left: 0px;
    text-align: center;
}

#inputType {
    width: 219.75px;
    height: 30px;
    margin-left: 25px;
    text-align: center;
}

#resultType {
    width: 220px;
    height: 30px;
    margin-left: 10px;
    text-align: center;
}

.converter-body {
    width: 500px;
    height: 250px;
    border-radius: 8px;
    border: 1px solid;
    background-color :wheat;
    position: absolute;
    top: 35%;
    left: 35%;
}

.converter-title {
    text-align: center;
    margin: 13px 0px;
    color :black;
}

